.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 100dvh;
  min-height: 500px;
}

.container .hero {
  max-width: 200px;
}

.container span {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.container span a {
  margin: 0;
}

.container span a img {
  width: 30px;
}

.container a {
  text-decoration: none;
  width: fit-content;
  align-self: center;
}

@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.container .wave {
  display: inline-block;
  animation-name: wave-animation;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  cursor: pointer;
}

.container button {
  /* color: var(--btn-text-color); */
  /* border: none; */
  font-size: 20px;
  /* font-weight: bold; */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

.container button:hover {
  transform: scale(1.05);
}

.container button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.colorModeContainer {
  position: relative;
}

.colorMode {
  position: absolute;
  right: 0;
  width: 25px;
}

.colorMode:hover {
  cursor: pointer;
}

.description {
  max-width: 35ch;
  align-self: center;
  font-size: 18px;
  font-weight: 300;
  font-family:sans-serif;
  /* color: var(--text-color); */
}

.info {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

@media (max-width: 800px) {
  .container {
    padding-top: 1px;
  }
}

@media (min-width: 800px) {
  .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap:7rem;
  }
  
  .container img {
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  .container .hero {
    max-width: 350px;
    width: 350px;
  }
}

@media (min-width: 1400px) {
  .container .hero {
    max-width: 400px;
    width: 400px;
  }
}
